header {
  height: 64px;
  background-color: #00b1ea;
  color: white;
}

footer {
  height: 71px;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.55);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.register-container {
  padding-top: 60px;
}

.btn-register {
  height: 48px;
  padding: 0px 24px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #009ee3;
  cursor: pointer;
  transition: opacity 0.15s;
  font-weight: 600;
}

.btn-register:hover {
  opacity: 0.9;
}

.form-container {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
